.category-tab-box {
  width: 100%;
  padding: 0;
  margin-top: 10px;
}
.category-tab-box h2 {
  font-size: 20px;
  display: inline;
}

.category-text-box {
  display: none;
}

.button-box {
  display: inline;
  float: right;
}

.button-box button {
  background-color: darkgrey;
  margin: 0 2px;
}

.category-select-box {
  display: flex;
}

.category-select-box button {
  height: 30px;
  margin: 0 2px;
  font-size: 1rem;
  width: 20%;
}
