.feedback-box {
  padding-left: 75px;
  text-align: center;
}

.feedback-box iframe {
  width: 560px;
  height: 315px;
}

@media (max-width: 800px) {
  .feedback-box {
    padding-left: 0;
  }
  .feedback-box iframe {
    width: 70%;
  }
}
