.filter-tab-box {
  width: 10%;
  padding: 0;
  margin-top: 20px;
  position: fixed;
  left: 5%;
  text-align: center;
}

.filter-tab-box h2 {
  font-size: 20px;
  display: inline;
}

.filter-select-box {
  display: flex;
  flex-direction: column;
}

.filter-select-box button {
  height: 30px;
  margin: 2px 2px;
  font-size: 0.8rem;
  width: 100%;
  border-radius: 10px;
}
