.filter-tab-box {
  width: 600px;
  padding: 0;
  margin-top: 10px;
  margin-right: 80px;
  float: right;

  /* display: inline-block; */
}

.filter-tab-box h2 {
  font-size: 20px;
  display: inline;
}

.filter-select-box {
  display: flex;
  flex-direction: row;
}

.filter-select-box button {
  height: 30px;
  margin: 2px 5px;
  font-size: 0.6rem;
  width: 18%;
  border-radius: 5px;
  border: none;
}

@media (max-width: 800px) {
  .filter-tab-box {
    width: 95vw;
    margin: 0 10px;
    float: none;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .filter-tab-box h2 {
    font-size: 15px;
    display: inline;
  }
}
