.info-video-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 0px;
  background-color: aliceblue;
  padding: 5px 5px;
}

.multi-video-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.popular-video-box {
  width: 50%;
}

.recent-video-box {
  width: 50%;
}
.video_item {
  width: 60%;
  text-decoration: none;
  color: darkslateblue;
}

.video_item img {
  width: 80%;
}

.video_item p {
  width: 80%;
  margin-top: 5px;
}

.info-video-box h2 {
  margin-top: 5px;
}
