.profile-box {
  width: 100%;
  padding-left: 75px;
  /* background-color: #23252b; */

  height: 300px;
  display: flex;
  flex-direction: row;
}

.avatar-summary-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin-left: 10px;
}

.profile-img {
  border-radius: 100%;
  width: 100px;
  border-style: ridge;
  border-width: 2px;
}

.profile-text-box {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  height: 100%;
  justify-content: center;
}

.profile-text-box h2 {
  /* color: aliceblue; */
  margin-bottom: 0;
}
.profile-text-box p {
  /* color: darkgray; */
  margin: 0;
}

.button-contain {
  width: 30%;
  display: flex;

  margin: auto;
  justify-content: center;
}

.button-column {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.button-column button {
  width: 100%;
  height: 110px;
  border-radius: 20px;
  border-width: 0;
  margin: 5px 5px;
  background-color: #f73859;
  color: aliceblue;
}

.button-column button:hover {
  background-color: #f7aaaa;
  color: black;
  font-weight: bolder;
}

.not-allowed {
  background-color: #f7aaaa !important;
}

@media (max-width: 800px) {
  .profile-box {
    padding-left: 0;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .profile-img {
    border-radius: 100%;
    width: 50px;
    border-style: ridge;
    border-width: 2px;
  }
  .button-contain {
    display: none;
  }
  .avatar-summary-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    margin-left: 5px;
    height: 100%;
  }
  .profile-text-box {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .profile-text-box h2 {
    /* color: aliceblue; */
    margin-bottom: 0;
  }
  .profile-text-box p {
    /* color: darkgray; */
    margin: 0;
  }
}
