.side-bar-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  border-right: 1px solid #a7a7a7;
  text-align: center;
  padding-top: 80px;
}
.side-bar-menu p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
}

.side-bar-menu {
  position: relative;
  margin-top: 30px;
}

.side-bar-menu a {
  text-decoration: none;
  color: black;
}

.side-bar-menu a:hover {
  color: #f73859;
}
