.top-banner {
  padding: 20px 0;
  width: 100%;
  /* background-color: #384259; */
  /* background-color: #23252b; */
  display: flex;

  height: 100px;
}

.site-logo {
  margin-left: 80px;
  margin-top: auto;
  margin-bottom: auto;

  font-size: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}
.home-link {
  text-decoration: none;
  text-decoration-color: #f73859;
  color: #f73859;
}
