.card-box {
  background-color: #f73859;
  border-radius: 10px;
  height: 20rem;
  margin: 0 10px;
  width: 80%;
  position: relative;
}

.text-box h3 {
  vertical-align: middle;
}

.card-link {
  text-decoration: none;
  color: black;
  width: 20%;
}

.text-box {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.text-box hr {
  background-color: aliceblue;
  height: 1px;
  border-width: 0;
}
