.card-box {
  background-color: #f73859;
  border-radius: 10px;
  height: 3rem;
  margin: 0 10px;
}

.card-box h2 {
  vertical-align: middle;
}

.card-link {
  text-decoration: none;
  width: 20%;
  color: black;
}
